# Defines configuration options specific for VMWare DVS ML2 Mechanism driver

[ml2_vmware]
# Hostname or ip address of vmware vcenter server
host_ip=10.44.57.17

# Login username and password of vcenter server
host_username=administrator@vsphere.local
host_password=lab4Testing!

# The wsdl file directory to create vSphere SDK Session
# wsdl_location=<url of vSphere SDK wsdl file>
wsdl_location=https://10.44.57.17/sdk/vimService.wsdl
# Example: wsdl_location=file:///opt/vmware/vim.wsdl

# Some SDK API Session parameters
# task_poll_interval=5.0
# api_retry_count=10

# The mappings between local physical network device and distributed vswitch
network_maps = default:dvSwitch0

dv_switch = dvSwitch0
dv_portgroup = br-int
